# Virtual environment
.venv/
venv/
ENV/

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Binaries & SSL keys
cloudflared
cert.pem
key.pem

# OS metadata
.DS_Store
Thumbs.db

